ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.button-reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.body-wrapper {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}
