.data {
  &__item {
    margin: 0 10px 0 0;
    padding: 8px 125px 16px 8px;
    background: #f8fbfd;
    border-radius: 8px;
    @media screen and (min-width: 1080px) {
      padding: 16px 172px 16px 16px;
    }
  }

  &__type {
    color: var(--primary-text-color);
    @include font(400, 16px, 24em, 16em);
  }

  &__text-wrapper {
    @media screen and (min-width: 760px) {
      display: flex;
    }
  }
}
