.data {
  &__item {
    padding: 8px 95px 16px 8px;
    background: #f8fbfd;
    border-radius: 8px;

    &:not(:last-child) {
      margin: 0 10px 0 0;
    }

    @media screen and (min-width: 1080px) {
      padding: 8px 132px 16px 8px;
    }
  }

  &__type {
    color: var(--primary-text-color);
    @include font(400, 16px, 24em, 16em);
  }

  &__text-wrapper {
    @media screen and (min-width: 760px) {
      display: flex;
    }
  }
}
