.header {
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 15px 15px 0;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 760px) {
    padding: 40px 40px 0;
  }
  @media screen and (min-width: 1080px) {
    padding: 32px 55px 0;
  }
  &__mob-switch {
    @media screen and (min-width: 882px) {
      display: none;
    }
  }

  &__logo {
    margin: 0 20px 0 0;
    align-items: center;
  }
}

.navigation {
  display: flex;
  @media screen and (max-width: 759px) {
    display: none;
  }
  &__link {
    color: #ffffff;
    text-transform: uppercase;
    @include font(500, 12px, 24em, 12em);
    @media screen and (min-width: 1080px) {
      @include font(500, 15px, 30em, 15em);
    }
  }
  &__item {
    &:not(:last-child) {
      margin: 0 25px 0 0;
    }
  }

  &__wrapper {
    display: none;
    @media screen and (min-width: 882px) {
      display: flex;
      align-items: center;
    }
  }
}

.mobile-nav {
  width: 303px;
  height: 437px;
  padding: 24px 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  position: absolute;
  top: 30%;
  right: 24px;
  transform: scale(0);
  transition: 250ms;
  &.is-open {
    transform: scale(1);
    transition: 250ms;

    display: flex;
    flex-direction: column;
  }
}
