.hero__wrapper {
  position: relative;

  background: linear-gradient(360deg, #01e0ff 0%, #006ded 64.58%, #004fe9 83.44%, #004ada 90.16%);
}

.hero {
  margin-top: 0;
  margin-bottom: 0;
  padding: 225px 15px 40px;

  &__text {
    color: #fff;
    letter-spacing: -0.02em;
    @include font(500, 32px, 40em, 32em);
    margin: 0 0 35px 0;
  }

  &__span {
    color: var(--secondary-text-color);
  }

  &__button {
    @include font(400, 20px, 32em, 20em);
    background-color: #f8fbfd;
    color: var(--secondary-text-color);
    border-radius: 8px;
    padding: 10px 50px;
  }
}
