.test-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.leaders {
  &__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
    @media screen and (min-width: '759px') {
      width: calc((100% - 2 * 15px) / 3);
    }
  }

  &__img {
    border-radius: 8px;
  }

  &__name {
    color: var(--secondary-text-color);
    @include font(500, 20px, 28em, 20em);
  }

  &__text {
    color: var(--primary-text-color);
    @include font(400, 15px, 22em, 15em);
  }
}
