.leaders {
  &__wrapper {
    background-color: var(--secondary-background-color);
  }

  background-color: var(--secondary-background-color);
  &__title {
    color: var(--secondary-text-color);
  }
  &__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
    @media screen and (min-width: '759px') {
      width: 200px;
    }
  }
  // width: calc((100% - 2 * 15px) / 3);

  &__img {
    border-radius: 8px;
    margin: 0 0 20px 0;
  }

  &__name {
    color: var(--secondary-text-color);
    @include font(500, 20px, 28em, 20em);
    margin: 0 0 10px 0;
  }

  &__job {
    color: var(--primary-text-color);
    @include font(400, 15px, 22em, 15em);
  }
  &__slider {
    width: 100%;
    margin-right: 0 !important;
  }

  &__container {
    min-width: 0;
  }
}
