.leaders {
  &__wrapper {
    background-color: var(--secondary-background-color);
  }

  background-color: var(--secondary-background-color);
  &__title {
    color: var(--secondary-text-color);
  }
  &__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
    @media screen and (min-width: '759px') {
      width: 200px;
    }
    @media screen and (min-width: '1080px') {
      margin: 0 19px 0 0;
      width: 290px;
      height: 395px;
    }
    @media screen and (min-width: '1440px') {
      &:not(:last-child) {
        margin: 0 65px 0 0;
      }
    }
  }

  &__img {
    border-radius: 8px;
    margin: 0 0 20px 0;
    @media screen and (min-width: '1080px') {
      border-radius: 15px;

      width: 100%;
      height: 288px;
    }
  }

  &__name {
    color: var(--secondary-text-color);
    @include font(500, 20px, 28em, 20em);
    margin: 0 0 10px 0;
    @media screen and (min-width: '1080px') {
      @include font(500, 24px, 28em, 24em);
    }
  }

  &__job {
    color: var(--primary-text-color);
    @include font(400, 15px, 22em, 15em);
  }
}
