.principles {
  padding-top: 50px;
  padding-bottom: 50px;

  &__list {
    @media screen and (min-width: 760px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 50px 0;
    }
    @media screen and (min-width: 760px) {
      width: calc((100% - 1 * 65px) / 2);
      margin: 0 65px 0 0 !important;
    }
  }

  .principles__item_1 {
    margin-right: 0 !important;
  }

  &__title {
    color: var(--secondary-text-color);
    @include font(500, 47px, 56em, 48em);
    margin: 0 0 50px 0;
  }

  &__type {
    @include font(500, 24px, 32em, 24em);
    color: var(--primary-blue-color);
    margin: 0 0 15px 0;
  }

  &__text {
    @include font(400, 16px, 24em, 16em);

    color: var(--primary-text-color);
  }
}
//
