.projects {
  padding-top: 50px;
  padding-bottom: 50px;

  &__list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 0 50px 0;
  }

  &__item {
    padding: 8px 125px 16px 8px;
    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }

  &__img {
    margin: 0 0 15px 0;
  }

  &__type {
    @include font(400, 16px, 24em, 16em);
  }

  &__text {
    @include font(400, 24px, 32em, 24em);

    color: var(--primary-text-color);
    margin: 0 0 50px 0;
  }

  &__text-second {
    color: var(--primary-blue-color);
    margin: 0 0 0 0;
  }
}
