.projects {
  padding-top: 50px;
  padding-bottom: 50px;

  &__item {
    padding: 8px 125px 16px 8px;
    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }

  &__img {
    margin: 0 0 15px 0;
  }

  &__type {
    @include font(400, 16px, 24em, 16em);
  }
}
