.projects {
  &__wrapper {
    background-color: var(--secondary-background-color);
  }
}

.slider {
  max-width: 465px;
  &__item {
    background: #e9edf2;
    border-radius: 16px;
    padding: 0;
    height: 420px;
  }

  &__img {
    width: 100%;
    border-radius: 8px;
    margin: 0 0 15px 0;
  }

  &__text {
    padding: 0 0 0 16px;
    @include font(400, 16px, 24em, 16em);
    color: #000000;
  }

  &__name {
    margin: 0 0 10px 0;
    @include font(500, 24px, 32em, 24em);
    letter-spacing: -0.02em;
  }
}
