.virtual {
  &__wrapper {
    background: radial-gradient(216.43% 100% at 50% 100%, #5200ff 0%, #180660 100%);
  }

  &__item {
    padding: 8px 95px 16px 8px;
    background: rgba(248, 251, 253, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    &:not(:last-child) {
      margin: 0 10px 0 0;
    }

    @media screen and (min-width: 1080px) {
      padding: 8px 132px 16px 8px;
    }
  }

  &__img {
    margin: 0 0 15px 0;
  }

  &__type {
    color: #ffffff;
    @include font(400, 16px, 24em, 16em);
  }

  &__text {
    &:nth-child(1) {
      color: #ffffff;
    }
  }

  &__title {
    color: #ffffff;
  }

  &__text-wrapper {
    @media screen and (min-width: 760px) {
      display: flex;
    }
  }
}
